{% extends "base_generic.html" %} {% block content %}
<h1 class="index">Home</h1>
<div class="cent">
    <p>Welcome to LocalLibrary made by: Sahil chhikara</p>
    <h2></h2>
    <main class="cent">
        <p class="bla">The library has the following record counts:</p>
        <ul>
            <li><strong>Books:</strong> {{ num_books }}</li>
            <li><strong>Copies:</strong> {{ num_instances }}</li>
            <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
            <li><strong>Authors:</strong> {{ num_authors }}</li>
            <li><strong>Genre: </strong> {{num_genre}}</li>
            <li><strong>Testing count novel: </strong> {{num_test}}</li>
        </ul>
    </main>
    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
</div>
{% endblock %}