.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

li {
    list-style-type: disc;
}

a:hover {
    text-decoration: wavy;
    color: hotpink;
    background-color: black;
}